/* カスタムタグ */
html {
  font-size: 16;
}

h1 {
  text-align: center;
}

table {
  border-top: #0000004a;
  margin: auto;
}

p {
  font-size: 2rem;
}

/* カスタムスタイル */

.custom-text-color {
  color: white;
}

.custom-bg {
  background-image: url("https://user0514.cdnw.net/shared/img/thumb/aig-ai230605031-xl_TP_V.jpg");
  background-size: cover; /* 画面いっぱいに画像を表示 */
  background-position: center center; /* 画像を横軸・縦軸ともに中心に配置 */
  background-repeat: no-repeat; /* 背景画像の繰り返しを無効化 */
  background-attachment: fixed; /* スクロールしても背景画像を固定 */
}

.material-icons.md-4rem {
  font-size: 4rem;
}

.overlay-gray {
  max-width: 100%;
  background-color: #0000004a; /* 透明度20％のグレー */
  pointer-events: none; /* オーバーレイ部分へのクリック等のイベントを無効化 */
}

.table.custom-weather-app {
  --bs-table-bg: #ffffff00; /* カスタムプロパティを設定 */
  --bs-table-color: white;
  --bs-table-border-color: #dee2e633;
}